@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@300;600&display=swap');

/* General */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --fs14: 1.4rem;
    --fs18: 1.8rem;
    --fs24: 2.4rem;
    --transition: all .3s ease;
}

html {
    height: 100%;
    width: 100%;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    font-family: "League Spartan", monospace;
    height: 100%;
    min-height: 100vh;
    overflow-x: hidden;
    line-height: 1.5rem;
}

.webpage {
    background-color: rgb(27, 27, 27);
    background-repeat: repeat;
    font-family: 'League Spartan', monospace;
    color: white;
}

button:hover {
    opacity: 0.8;
}

ul {
    list-style: none;
}

a {
    color: red;
    text-decoration: none;
    transition: var(--transition);
}

a:hover {
    color:rgb(151, 151, 151);
}

img {
    display: block;
    max-width: 100%;
}

input {
    border: none;
    outline: none;
}

input:focus::placeholder {
    opacity: 0;
}

/* Header */

.buttons .btn {
    padding: 0.7rem 1rem;
    border-radius: 0.3rem;
    cursor: pointer;
    font-size: var(--fs14);
    font-weight: 600;
    text-align: center;
    height: 3.6rem;
}

.buttons .btn:hover {
    text-decoration: none;
}

.buttons .btn-primary {
    background-color: white;
    border: 0.2rem solid rgb(255, 0, 0);
    color: black;
}

.buttons .btn-primary:hover {
    background-color: red;
    border: 0.2rem solid rgb(255, 0, 0);
}

.buttons .btn-secondary {
    background-color: white;
    border: 0.2rem solid rgb(55, 78, 255);
    color: black;
}

.buttons .btn-secondary:hover {
    background-color: rgb(55, 78, 255);
    border: 0.2rem solid rgb(55, 78, 255);
    color: white;
}

main {
    padding: 12rem 0.5rem 2rem 0.5rem;
}

@media (min-width: 768px) {
    main {
        padding-top: 1rem;
    }
}

.container {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

@media (min-width: 1300px) and (max-width: 1599px) {
    .container {
        width: 1200px;
    }
}

.header {
    position: relative;
    background: url(../assets/forum-background.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    height: 9rem;
}

.header a:hover {
    opacity: 0.7;
}

.header .row {
    position: absolute;
    left: 0;
    bottom: -11rem;
    width: 100%;
    background-color: rgba(0, 0, 0,);
    --bs-gutter-x: 0;
}

.header .row .header-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    opacity: 1;
    padding: 1rem 0;
}

.header .row .header-content .logo {
    order: 1;
}

.header .row .header-content .logo img {
    height: 4rem;
    width: 10rem;
}

.header .row .header-content .nav-search {
    order: 3;
    flex: 1 1 100%;
    margin-top: 1rem;
}

.header .row .header-content .nav-search .form-group i:hover {
    opacity: 0.7;
}

.header .row .header-content .nav-search .form-group {
    width: 100%;
    position: relative;
}

.header .row .header-content .nav-search .form-group input {
    height: 4rem;
    padding-left: 2rem;
    border-radius: 0.4rem;
    font-size: var(--fs14);
    background-color: rgb(39, 39, 39);
    border: 0.1rem solid grey;
    font-weight: 600;
    text-align: left;
    color: white;
    width: 100%;
}

.header .row .header-content .nav-search .form-group input:focus {
    background-color: rgb(39, 39, 39);
    color: white;
}

.header .row .header-content .nav-search .form-group i {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 4rem;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: var(--fs18);
}

.header .row .header-content .nav-group {
    order: 2;
}

.header .row .header-content .nav-group ul {
    display:flex;
    align-items: center;
    gap: 3rem;
}

.header .row .header-content .nav-group ul li a {
    font-size: var(--fs24);
    color: white;
}

.header .row .header-content .nav-group ul li a:hover {
    color: white;
    text-decoration: none;
}

.header .row .header-content .nav-group ul li a span {
    display: none;
}

@media (min-width: 768px) {
    .header {
        height: 18rem;
    }

    .header .row {
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.558);
    }

    .header .row .header-content {
        align-items: center;
        padding: 1.4rem 0.5rem;
    }

    .header .row .header-content .logo {
        width: 23rem;
    }

    .header .row .header-content .logo img {
        height: 4.5rem;
        width: 16rem;
    }

    .header .row .header-content .nav-search {
        order: 2;
        flex: 1 1 auto;
        margin-top: 0;
        padding: 0 1rem;
    }

    .header .row .header-content .nav-search .form-group {
        max-width: 48rem;
        margin: 0 auto;
    }

    .header .row .header-content .nav-group {
        order: 3;
        margin-left: 1.2rem;
    }

    .header .row .header-content .nav-group ul li a span {
        display: inline-block;
        text-transform: capitalize;
        font-size: var(--fs14);
        font-weight: 600;
        color: white;
        margin-left: 0.5rem;
    }    
}

/* Thread */
main .left {
    transition: var(--transition);
    all: revert;
}

main .left h2 {
    font-size: var(--fs24);
    color: rgb(255, 255, 255);
    margin-bottom: 2.7rem;
}

main .left .inner-left .box {
    color: white;
    display: flex;
    align-items: center;
    background-color: rgb(41, 41, 41);
    padding: 0.9rem 1.2rem;
    border-radius: 0.7rem;
    margin-bottom: 0.9rem;
    box-shadow: 0 0.2rem 0.4rem rgba(255, 255, 255, 0.11),
                0 0.1rem 0.1rem rgba(255, 255, 255, 0.04);
}

main .left .inner-left .box .img {
    display: none;
    width: 4.8rem;
    height: 4.8rem;
    border-radius: 0.8rem;
    overflow: hidden;
}

main .left .inner-left .box .details {
    padding-left: 1.2rem;
}

main .left .inner-left .box .details p {
    font-size: 1.3rem;
    text-transform: capitalize;
    color:rgb(232, 232, 232);
}

main .left .inner-left .box .details h3 {
    font-size: var(--fs18);
    font-weight: 600;
    color: rgb(255, 31, 31);
    letter-spacing: -0.02rem;
}

main .left .inner-left .box .details .sub-details {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 0.4rem;
}

main .left .inner-left .box .details .sub-details span {
    color: rgb(232, 232, 232);
    text-align: vertical;
    font-size: 1rem;
}

main .left .inner-left .box .details .sub-details .comment {
    padding: 0.2rem 0.8rem 0;
    background-color: rgba(255, 255, 255, 0);
    color: grey;
    font-size: 1.3rem;
    height: 2rem;
    display: flex;
    align-items: center;
    gap: 0.4rem;
    border-radius: 0.3rem;
}

/* Right section */
main .row .right {
    display: none;
}

main .right .box {
    padding: 1.8rem;
    background-color: rgb(0, 0, 0);
    border-radius: 0.7rem;
    margin-bottom: 0.9rem;
    box-shadow: 0 0.2rem 0.4rem rgba(254, 254, 254, 0.11),
                0 0.1rem 0.1rem rgba(255, 255, 255, 0.04);
}

main .right .first h3 {
    font-size: var(--fs24);
    line-height: 2.7rem;
    margin-bottom: 0.5rem;
    color:rgb(254, 254, 254);
}

main .right .first span {
    display: block;
    color:rgb(255, 255, 255);
    text-transform: capitalize;
    font-size: var(--fs14);
    margin-bottom: 1.8rem;
    letter-spacing: -0.01rem;
}

main .right .first p {
    font-size: var(--fs14);
    line-height: 1.5;
    margin-bottom: 0.3rem;
    color: rgb(255, 255, 255);
    max-height: 23rem;
}

main .right .first .stats {
    display: flex;
    align-items: center;
}

main .right .first .stats div {
    display: flex;
    flex-direction: column;
}

main .right .first .stats div:first-of-type {
    border-right: 0.1rem solid rgb(255, 255, 255);
    padding-right: 2.7rem;
}

main .right .first .stats div:last-of-type {
    margin-left: 2.7rem;
}

main .right .first .stats div h4 {
    font-size: 3rem;
    font-weight: 600;
    letter-spacing: -0.3rem;
    color: rgb(255, 255, 255);
}

main .right .first .stats div span {
    text-transform: lowercase;
    font-size: var(--fs14);
    letter-spacing: -0.1px;
}

main .right .first .buttons {
    display: flex;
    flex-direction: column;
}

main .right .first .buttons .btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 0.9rem;
    width: 100%;
    padding: 2rem;
    min-width: 8rem;
    text-transform: capitalize;
    transition: var(--transition);
}

main .right .first .buttons .btn-primary {
    margin: 1.2rem 0;
}

main .right .top-forums h3,
main .right .top-contributors h3,
main .right .recommended-communities h3 {
    font-size: var(--fs18);
    font-weight: 600;
    margin-bottom: 0.5rem;
    color:rgb(254, 254, 254);
}

main .right .top-contributors a,
main .right .top-forums a,
main .right .recommended-communities .inner-box a {
    text-decoration: none;
}

main .right .top-forums > a
main .right .top-contributors > a {
    display: block;
    font-size: var(--fs14);
    font-weight: 400;
    margin-bottom: 1rem;
    text-decoration: none;
    color:rgb(255, 0, 0);
}

main .right .top-forums a i {
    margin-left: 0.4rem;
}

main .right .top-forums .inner-box:not(:last-child) {
    margin-bottom: 1rem;
}

main .right .top-forums .inner-box h4 a {
    font-weight: 400;
    color: rgb(253, 53, 53);
    text-decoration: none;
}

main .right .top-forums .inner-box .stats {
    display: flex;
    align-self: center;
    justify-content: flex-start;
}

main .right .top-forums .inner-box .stats .stat {
    flex: 0 0 10rem;
    display: flex;
    align-items: center;
    gap: 0.3rem;
}

main .right .top-forums .inner-box .stats .stat i {
    font-size: 1.6rem;
}

main .right .top-contributors .inner-box,
main .right .recommended-communities .inner-box {
    display: flex;
    align-items: center;
    margin-bottom: 1.8rem;
}

main .right .top-contributors .inner-box .img,
main .right .recommended-communities .inner-box .img {
    display: block;
    width: 3.6rem;
    height: 3.6rem;
    border-radius: 0.8rem;
    overflow: hidden;
}

main .right .top-contributors .inner-box .details,
main .right .recommended-communities .inner-box .details {
    display: flex;
    flex-direction: column;
    margin-left: 0.9rem;
}

main .right .top-contributors .inner-box .details a,
main .right .recommended-communities .inner-box .details a {
    font-weight: 500;
    color: rgb(252, 43, 43);
}

main .right .top-contributors .inner-box .details span,
main .right .recommended-communities .inner-box .details span {
    font-size: var(--fs14);
    color:rgba(255, 255, 255, 0.85);
}

main .right .recommended-communities h3 {
    margin-bottom: 0.5rem;
}

@media(min-width: 649px) {
    main .left .inner-left .box .img {
        display: block;
    }
}

@media(min-width: 910px) {
    main .row {
        display: flex;
    }

    main .row .left {
        flex: auto;
    }

    main .row .right {
        display: block;
        flex-shrink: 0;
        width: 25rem;
        margin-left: 1.8rem;
        padding-top: 5.525rem;
    }
}

/* Overlay */
.overlay {
    all: revert;
    position: fixed;
    inset: 0;
    transition: opacity 0.5s, visibility 0.5s;
    background-color: rgba(0, 0, 0, 0.699);
    z-index: 999;
    padding: 0 1.5rem;
    opacity: 0;
    visibility: hidden;
}

.overlay.active {
    opacity: 1;
    visibility: visible;
}

.login {
    position: relative;
    background-color: black;
    padding: 1rem;
    border-radius: 0.4rem;
    max-width: 80rem;
    width: 100%;
    margin: 10vh auto auto;
    box-shadow: 0 0.5rem 1.5rem 0 rgba(255, 255, 255, 0.5);
    overflow: hidden;
}

.login .top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2rem;
}

.login .top h2 {
    margin-top: 1rem;
    font-weight: 600;
    font-size: 2.3rem;
    color: rgb(255, 255, 255);
}

.login .top i {
    font-size: var(--fs24);
    color: rgb(251, 251, 251);
    cursor: pointer;
}

.login .row .content {
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.login .row .content .login-left,
.login .row .content .login-right {
    flex: 1;
}

.login .row .content .login-right img {
    width: 2rem;
    height: auto;
    object-fit: cover;
}

.login .row .content .login-left {
    position: relative;
    padding-top: 3rem;
    order: 3;
}


.login .row .content .login-left button {
    color: rgb(255, 255, 255);
    background-color: red;
}

.login .row .content .login-left form .form-group div i {
    color: rgb(3, 3, 3);
}

.login .row .content .login-left form .form-group div i:hover {
    transition: var(--transition);
    border-radius: 3rem;
    background-color: black;
    color: white;
    cursor: pointer;
}

.login .row .content .login-left form input:not([type = "checkbox"]) {
    display: block;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    border-radius: 0.3rem;
    font-size: 1.2rem;
    padding: 1rem 1.5rem;
    width: 100%;
    line-height: 1rem;
}

.login .row .content .login-left form .form-group {
    position: relative;
    margin-top: 1rem;
}

.login .row .content .login-left form .form-group div {
    position: absolute;
    height: 100%;
    top: 50%;
    transform: translateY(-50%);
    right: 1rem;
    display: flex;
    align-items: center;
    font-size: 1.3rem;
    gap: 0.5rem;
    padding-left: 1rem;
    cursor: pointer;
}

.login .row .content .login-left a,
.login .row .content .login-right .btn {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.login .row .content .login-right .btn {
    border: 1px solid white;
    margin: 1rem 0;
    padding: 0.5rem 0.5rem;
    height: 5vh;
}

.login .row .content .login-left a:hover,
.login .row .content .login-right .btn:hover {
    text-decoration: none;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    border-radius: 0.3rem;
}

.login .row .content .login-left form a{
    display: block;
    margin-top: 1rem;
}

.login .row .content .login-left .remember{
    margin-top: 1rem;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.login .row .content .login-left .remember label {
    color: white;
}

.login .row .content .login-left .btn,
.login .row .content .login-right .btn  {
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.login .row .content .login-left .btn-login {
    min-width: 8rem;
    margin-top: 3rem;
    width: 100%;
    transition: var(--transition);
    font-weight: 600;
}

.login .row .content .login-left .btn-login:hover {
    background-color: rgb(255, 0, 0);
    color: rgb(0, 0, 0);
}

.login .row .content .login-right {
    order: 1;
    padding-bottom: 3rem;
}

.login .row .content .line::before {
    content: "";
    position: absolute;
    width: 95%;
    height: 0.1rem;
    background-color: rgb(255, 255, 255);
    top: 10.25rem;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}

.login .row .content .line::after {
    content: "or";
    position: absolute;
    top: 9.25rem;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    background-color: rgb(0, 0, 0);
    padding: 1rem;
    width: 2rem;
    height: 2rem;
    text-align: center;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login .row .content .login-right .btn {
    display: flex;
    background-color: transparent;
    text-align: center;
}

.login .row .content .login-right .btn span {
    flex: auto;
    text-align: center;
}

.login .row .content .login-right .btn img {
    width: 1rem;
}

.login .row .content .login-right .btn {
    display: flex;
}


/* Animation */
.hidden {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: all 1s;
}

.show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}